.main {
  width: 100%;
  height: 100vh;
  cursor: crosshair;

  & .section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    color: white;
    position: relative;

    & .img-div {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    & .first-title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 65%;
      height: auto;
      margin-right: 20px;
      position: relative;

      &::after {
        content: "";
        z-index: -1;
        width: 100%;
        height: 80px;
        top: 75px;
        position: absolute;
        background-image: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);
        transform: translateX(-160%);
        transition: 1s linear;
      }
      &:hover::after {
        transform: translateX(0%);
        transition: 0.5s linear;
        background-image: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);
        box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.75);
        border-radius: 5px;
      }

      & span {
        text-transform: uppercase;
        font-family: $paragraph;
        font-size: 10rem;
        font-weight: 200;
        letter-spacing: 25px;
        text-shadow: 3px 5px 12px rgba(255, 255, 255, 0.68);
        &:hover {
          color: rgb(0, 0, 0);
          transform: rotate(10deg) scale(1.5);
          transition: 0.1s linear;
        }
      }
    }

    & .under-title {
      display: flex;
      align-items: center;
      width: 1160px;
      height: 20px;
      text-shadow: 3px 5px 12px rgba(255, 255, 255, 0.68);

      & h2 {
        font-family: $paragraph;
        text-transform: capitalize;
        font-size: 1rem;
        letter-spacing: 8px;
      }
    }

    & .second-title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 26%;
      height: auto;
      margin-right: 20px;
      position: relative;
      &::after {
        content: "";
        z-index: -1;
        width: 100%;
        height: 80px;
        top: 75px;
        position: absolute;
        background-image: linear-gradient(135deg, #65fdf0 10%, #1d6fa3 100%);
        transform: translateX(-400%);
        transition: 1s linear;
      }
      &:hover::after {
        transform: translateX(0%);
        transition: 0.5s linear;
        background-image: linear-gradient(135deg, #65fdf0 10%, #1d6fa3 100%);
        border-radius: 5px;
        box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.75);
      }

      & span {
        text-transform: uppercase;
        font-family: $paragraph;
        font-size: 10rem;
        font-weight: 200;
        letter-spacing: 25px;
        text-shadow: 3px 5px 12px rgba(255, 255, 255, 0.68);
        &:hover {
          color: rgb(0, 0, 0);
          transform: rotate(-10deg) scale(1.5);
          transition: 0.1s linear;
        }
      }
    }

    & .third-title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 40%;
      height: auto;
      margin-top: 20px;
      margin-right: 20px;
      position: relative;
      &::after {
        content: "";
        z-index: -1;
        width: 100%;
        height: 80px;
        top: 75px;
        position: absolute;
        background-image: linear-gradient(135deg, #f0ff00 10%, #58cffb 100%);
        transform: translateX(-300%);
        transition: 1s linear;
      }
      &:hover::after {
        transform: translateX(0%);
        transition: 0.5s linear;
        background-image: linear-gradient(135deg, #f0ff00 10%, #58cffb 100%);
        border-radius: 5px;
        box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.75);
      }

      & span {
        text-transform: uppercase;
        font-family: $paragraph;
        font-size: 10rem;
        font-weight: 200;
        letter-spacing: 25px;
        text-shadow: 3px 5px 12px rgba(255, 255, 255, 0.68);
        &:hover {
          color: rgb(0, 0, 0);
          transform: rotateX(45deg);
          transition: 0.1s linear;
        }
      }
    }
    & svg {
      position: absolute;
      bottom: 20px;
      right: 50%;
      transition: 1s ease;
      box-shadow: 10px 10px 41px 0px rgba(255, 255, 255, 0.263);

      &:hover {
        cursor: pointer;
        color: rgb(0, 200, 255);
        animation: chevronAnimation 2s ease 0s infinite normal forwards;
        transition: 0.3s ease;
      }
      @keyframes chevronAnimation {
        0%,
        100% {
          transform: translateY(0);
        }

        10%,
        30%,
        50%,
        70% {
          transform: translateY(-8px);
        }

        20%,
        40%,
        60% {
          transform: translateY(8px);
        }

        80% {
          transform: translateY(6.4px);
        }

        90% {
          transform: translateY(-6.4px);
        }
      }
    }
  }
}
