//* Fonts //
@font-face {
  font-family: "Big-title";
  src: url("../../src/assets/fonts/BigShouldersStencilText-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Under-title";
  src: url("../../src/assets/fonts/BigShouldersStencilText-Bold.ttf");
}
@font-face {
  font-family: "Paragraph";
  src: url("../../src/assets/fonts/YsabeauSC-VariableFont_wght.ttf ");
}

$big-title: "Big-title";
$under-title: "Under-title";
$paragraph: "Paragraph";

//* Colors //

//* ROOT OPTIONS //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
}

.circle {
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid rgb(255, 0, 0);
  box-shadow: 10px 5px 131px 17px rgba(250, 0, 0, 1);
  -webkit-box-shadow: 10px 5px 131px 17px rgba(250, 0, 0, 1);
  -moz-box-shadow: 10px 5px 131px 17px rgba(250, 0, 0, 1);
  background: red;
  transform: translate(-50%, -50%);
}
