//* Fonts //
@font-face {
  font-family: "Big-title";
  src: url("../../src/assets/fonts/BigShouldersStencilText-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Under-title";
  src: url("../../src/assets/fonts/BigShouldersStencilText-Bold.ttf");
}
@font-face {
  font-family: "Paragraph";
  src: url("../../src/assets/fonts/YsabeauSC-VariableFont_wght.ttf ");
}

$big-title: "Big-title";
$under-title: "Under-title";
$paragraph: "Paragraph";

//* Colors //

//* ROOT OPTIONS //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
}

.circle {
  z-index: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  box-shadow: 10px 10px 95px 68px rgba(25, 0, 163, 0.59);
  transform: translate(-50%, -50%);
  transition: 0.1s linear;
  filter: blur(6px);
}
